    <div id="contact-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="section-heading">
                        <h4>Contact Us</h4>
                        <div class="line-dec"></div>
                        <p>Need to get a hold of us? Send us an email and we will respond as soon as possible!</p>
                      <div class="row-cols-3">
                          <button type="button" class="btn btn-info mr-2 mb-2 w-100" (click)="openGeneralEmailModal()">
                            <i class="fa fa-plus"></i>
                            <h4>Send us a message</h4>
                          </button>
                      </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
