
   <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-12">
                    <div class="logo">
                        <a class="logo-ft scroll-top" href="#"><em>N</em>ichols <em>I</em>nc.</a>
                        <p>Copyright &copy; 2021 Nichols Inc.</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <div class="location">
                        <h4>Location</h4>
                        <ul>
                            <li>13149 Greengage Ln, <br>Tampa, FL 33612</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-2 col-sm-12">
                    <div class="contact-info">
                        <h4>More Info</h4>
                        <ul>
                            <li><em>Phone</em>: 813.391.1578</li>
                            <li><em>Email</em>: brocknichols@gmail.com</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
