<div class="row" id="testimonial" class="page-section">
  <div class="col-md-12">
    <section class="carousel" id="testimonial_text" aria-label="Gallery">
      <ol class="carousel__viewport">
        <li *ngFor="let feedback of feedbacks" id="carousel__slide{{feedback.id}}"
            tabindex="0"
            class="carousel__slide">
          <div class="carousel__snapper">
            <p>“{{feedback.testimonial}}”</p>
            <h4>{{feedback.name}}</h4>
            <span *ngIf="feedback.title">{{feedback.title}}</span>
          </div>
        </li>
      </ol>
    </section>
  </div>
</div>
